<nav class="flex overflow-hidden gap-x-2 mb-4 text-xs bg-white border-b border-gray-300"
     aria-label="Dashboard tabs">
    {% if project or company %}
        <a href="{% url 'project:productivity-report' project.pk|default:company.pk %}"
           class="border-b-2 {% if tab == 'productivity_report' %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300{% endif %} py-4 px-1 font-medium transition-colors">
            {% heroicon_outline "calculator" class="inline mr-2 w-5 h-5" %}
            Productivity Report
        </a>
        <a href="#"
           class="border-b-2 {% if tab == 'cashflow_statement' %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300{% endif %} py-4 px-1 font-medium transition-colors">
            {% heroicon_outline "arrow-path" class="inline mr-2 w-5 h-5" %}
            Cashflow
        </a>
        <a href="{% url 'project:performance-report' project.pk|default:company.pk %}"
           class="border-b-2 {% if tab == 'production_performance_report' %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300{% endif %} py-4 px-1 font-medium transition-colors">
            {% heroicon_outline "chart-pie" class="inline mr-2 w-5 h-5" %}
            Progress Report
        </a>
        <a href="{% url 'project:production-planning-gantt' project.pk|default:company.pk %}"
           class="border-b-2 {% if tab == 'production_planning_gantt' %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300{% endif %} py-4 px-1 font-medium transition-colors">
            {% heroicon_outline "calendar-days" class="inline mr-2 w-5 h-5" %}
            Schedule Report
        </a>
        <a href="{% url 'project:profitability-performance-report' project.pk|default:company.pk %}"
           class="border-b-2 {% if tab == 'profitability_performance_report' %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300{% endif %} py-4 px-1 font-medium transition-colors">
            {% heroicon_outline "presentation-chart-line" class="inline mr-2 w-5 h-5" %}
            Profitability Report
        </a>
        <a href="#"
           class="border-b-2 {% if tab == 'contractor_report' %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300{% endif %} py-4 px-1 font-medium transition-colors">
            {% heroicon_outline "user-group" class="inline mr-2 w-5 h-5" %}
            Contractor Report
        </a>
    {% endif %}
    {% if company %}
        <a href="{% url 'estimator:reports_index' project_pk=company.pk %}"
           class="border-b-2 {% if tab == 'financial_risk_report' %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300{% endif %} py-4 px-1 font-medium transition-colors">
            {% heroicon_outline "shield-exclamation" class="inline mr-2 w-5 h-5" %}
            Financial Risk Report
        </a>
    {% endif %}
</nav>
