{% extends "base.html" %}
{% load l10n %}
{% block content %}
    <div id="breadcrumb" class="no-print">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href={% url 'home' %}>Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href={% url 'suppliers:supplier_list_view' %}>Supplier List</a>
                </li>
                <li class="breadcrumb-item">
                    <a href={% url 'suppliers:supplier_detail_view' supplier=object.id %}>Detail</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
    </div>
    <div>
        <table class="table table-bordered" style="max-width:100%;">
            <thead>
                <tr>
                    <th colspan="7">Supplier Statement: {{ object.description }}</th>
                </tr>
                <tr>
                    <th>Date:</th>
                    <th>Reference:</th>
                    <th>Order Number / Description:</th>
                    <th>Debit:</th>
                    <th>Credit:</th>
                    <th>Balance:</th>
                    <th class="no-print">
                        Action:
                        <button class="btn btn-default material-icons"
                                data-bs-toggle="modal"
                                data-bs-target="#create_invoice">note_add</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for instance in queryset %}
                    <tr>
                        <td>{{ instance.date|date:"Y/m/d" }}</td>
                        <td>
                            {% if instance.order %}
                                INV-{{ instance.id|stringformat:"05d" }}
                            {% else %}
                                {{ instance.tx.all.0.category.description }}
                            {% endif %}
                            <div class="d-flex">
                                <form method="post">
                                    {% csrf_token %}
                                    {% if instance.invoice %}
                                        <button class="btn btn-default">
                                            <a type="submit"
                                               class="btn btn-default material-icons"
                                               href="{% url 'suppliers:supplier_invoice_view' invoice=instance.id %}"
                                               target="_blank">search</a>
                                        </button>
                                        <button type="button"
                                                onclick="UpdateFileModal({{ instance.id|unlocalize }});"
                                                class="btn btn-default material-icons"
                                                data-bs-toggle="modal"
                                                data-bs-target="#file_form">create</button>
                                        <button onclick="return confirm('Are you sure you want to delete the file?')"
                                                class="btn btn-default material-icons"
                                                type="submit"
                                                name="delete file{{ instance.id|unlocalize }}">delete_forever</button>
                                    {% else %}
                                        <button type="button"
                                                onclick="UpdateFileModal({{ instance.id|unlocalize }});"
                                                class="btn btn-default material-icons"
                                                data-bs-toggle="modal"
                                                data-bs-target="#file_form">backup</button>
                                    {% endif %}
                                </form>
                            </div>
                        </td>
                        <td>
                            {% if instance.order %}
                                PO-{{ instance.order.id|stringformat:"05d" }}
                            {% else %}
                                {{ instance.tx.all.0.description }}
                            {% endif %}
                        </td>
                        {% if instance.sum > 0 %}
                            <td style="text-align:right; width:120px;">R{{ instance.sum|floatformat:2 }}</td>
                            <td></td>
                        {% else %}
                            <td></td>
                            <td style="text-align:right; width:120px;">R{{ instance.sum|floatformat:2 }}</td>
                        {% endif %}
                        <td style="text-align:right; width:120px;">R{{ instance.balance|floatformat:2 }}</td>
                        <td class="no-print">
                            {% if not instance.order %}
                                <div class="d-flex">
                                    <form method="post" class="no-print">
                                        {% csrf_token %}
                                        <button id="myBtn"
                                                type="button"
                                                class="btn btn-default material-icons"
                                                data-bs-toggle="modal"
                                                data-bs-target="#invoice_form{{ instance.id }}">create</button>
                                        <button onclick="return confirm('Are you sure you want to delete the invoice?')"
                                                class="btn btn-default material-icons"
                                                type="submit"
                                                name="delete transaction{{ instance.tx.all.0.id }}">
                                            delete_forever
                                        </button>
                                    </form>
                                    {# Edit Invoice MODAL per instance #}
                                    <div id="invoice_form{{ instance.id }}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Supplier Invoice:</h4>
                                                    <button type="button"
                                                            class="btn btn-lg"
                                                            aria-label="Close"
                                                            data-bs-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method='POST' enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        {{ form_tx.management_form }}
                                                        <table class="table" style="max-width:100%;">
                                                            <tr>
                                                                <th colspan="2">{{ instance.description }}</th>
                                                            </tr>
                                                            {% for form in form_tx %}
                                                                {% if form.id.value == instance.tx.all.0.id %}
                                                                    {{ form.id }}
                                                                    <tr>
                                                                        <td>Date</td>
                                                                        <td>
                                                                            <input id="createwarehouseinput" class="form-control" id={{ form.date }}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Category</td>
                                                                            <td>
                                                                                <select id="createwarehouseinput" class="form-control" id={{ form.category }}
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Description</td>
                                                                                <td>
                                                                                    <input id="createwarehouseinput" class="form-control" id={{ form.description }}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Amount Incl</td>
                                                                                    <td>
                                                                                        <input id="createwarehouseinput" class="form-control" id={{ form.amount_incl }}
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                            <tr>
                                                                                <th colspan="2">
                                                                                    <input class="btn btn-primary"
                                                                                           type='submit'
                                                                                           value='Save Transaction'
                                                                                           style="font:bold"
                                                                                           name="update transaction{{ instance.tx.all.0.id }}" />
                                                                                </th>
                                                                            </tr>
                                                                        </table>
                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {# Edit Warehouse MODAL per instance #}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {# Create Invoice MODAL #}
                    <div id="create_invoice" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Invoice</h4>
                                    <button type="button"
                                            class="btn btn-lg"
                                            aria-label="Close"
                                            data-bs-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form method='POST'>
                                        {% csrf_token %}
                                        <table class="table" style="max-width:100%;">
                                            <tr>
                                                <th colspan="2">{{ title }}</th>
                                            </tr>
                                            {% for field in form_add_tx %}
                                                <tr>
                                                    <td>{{ field.label }}</td>
                                                    <td>
                                                        {% if field.field.widget.input_type == 'text' or field.field.widget.input_type == 'date' or field.field.widget.input_type == 'number' %}
                                                            <input id="createwarehouseinput" class="form-control" id={{ field }} {% elif field.field.widget.input_type == 'radio' %} {{ field }} {% else %} <select class="form-control" id={{ field }} {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <th colspan="2">
                                                            <input class="btn btn-primary"
                                                                   type='submit'
                                                                   value='Update Supplier'
                                                                   style="font:bold"
                                                                   name="create invoice" />
                                                        </th>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#Create Invoice MODAL#}
                            {# Edit File MODAL per instance #}
                            <div id="file_form" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Supplier Invoice:</h4>
                                            <button type="button"
                                                    class="btn btn-lg"
                                                    aria-label="Close"
                                                    data-bs-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form method='POST' enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <table class="table" style="max-width:100%;">
                                                    <tr>
                                                        <th colspan="2">{{ instance.description }}</th>
                                                    </tr>
                                                    {% for field in form_file %}
                                                        <tr>
                                                            <td>{{ field.label }}</td>
                                                            <td id="{{ field.field.widget.input_type }}{{ instance.id }}">{{ field }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <th colspan="2">
                                                            <input id="invoice_file"
                                                                   class="btn btn-primary"
                                                                   type='submit'
                                                                   value='Save File'
                                                                   style="font:bold"
                                                                   name="edit file" />
                                                        </th>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Edit Warehouse MODAL per instance #}
                            <script>
    function UpdateFileModal(id) {
        const form_input = document.querySelector("body #invoice_file").name = "edit file" + id;
    }
                            </script>
                        {% endblock %}
