{% extends "base.html" %}
{% load l10n %}
{% block content %}
    <div class="flex flex-wrap items-center justify-between">
        <div class="flex items-center">
            <a href="{% url 'home' %}"
               class="text-blue-600 hover:text-blue-800 transition-colors mr-4">Home</a>
            <a href="{% url 'inventories:inventory_list_view' %}"
               class="text-blue-600 hover:text-blue-800 transition-colors mr-4">All Inventories</a>
            <a href="{% url 'inventories:warehouse_list_view' %}"
               class="text-blue-600 hover:text-blue-800 transition-colors mr-4">Warehouse List</a>
        </div>
        <div class="flex items-center">
            <button class="btn bg-blue-600 hover:bg-blue-700 text-white mr-4"
                    data-bs-toggle="modal"
                    data-bs-target="#create_inventory">Add Inventory</button>
            <button class="btn bg-green-600 hover:bg-green-700 text-white"
                    data-bs-toggle="modal"
                    data-bs-target="#create_transaction">Inventory Transaction</button>
        </div>
        <div>
            <a href="{% url 'inventories:inventory_list_view' %}"
               class="text-blue-600 hover:text-blue-800 transition-colors">Inventory List</a>
            <span class="text-gray-600 font-medium ml-4">{{ title }}</span>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <table class="table" style="max-width:100%;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Purchase Order</th>
                    <th>Inventory item</th>
                    <th>Inventory Type</th>
                    <th>Transaction Type</th>
                    <th>Warehouse</th>
                    <th>Qty</th>
                    <th>Price Excl</th>
                    <th class="no-print">Action</th>
                </tr>
                <tr class="no-print">
                    <th></th>
                    <th>{{ form_filter.purchase_order }}</th>
                    <th>{{ form_filter.des_inventory }}</th>
                    <th>{{ form_filter.inv_type }}</th>
                    <th>{{ form_filter.tx_type }}</th>
                    <th>{{ form_filter.warehouse }}</th>
                    <th colspan="3" style="text-align:right;">
                        <input class="btn btn-primary" type="submit" value="Apply Filter" name="filter"
                        </th>
                    </tr>
                </thead>
                {% for instance in queryset %}
                    <tr>
                        <td>{{ instance.date|date:"Y/m/d" }}</td>
                        <td>
                            {% if instance.type.description == 'Delivery' %}
                                : PO-{{ instance.ordercomposition.order_set.all.0.id|unlocalize }}
                            {% endif %}
                        </td>
                        <td>{{ instance.inventory.description }}</td>
                        <td>{{ instance.inventory.type.description }}</td>
                        <td>{{ instance.type.description }}</td>
                        <td>{{ instance.warehouse.description }}</td>
                        <td>{{ instance.qty }}</td>
                        <td style="text-align:right;">R{{ instance.price_excl|floatformat:2 }}</td>
                        <td class="no-print">
                            {# Edit Warehouse Modal #}
                            <button type="button"
                                    onclick="populate('{{ instance.id|unlocalize }}', '{{ instance.date|date:"Y-m-d" }}', '{{ instance.type.description }}', '{{ instance.inventory.description }}: {{ instance.inventory.type.description }}', '{{ instance.warehouse.description }}', '{{ instance.qty }}', '{{ instance.price_excl }}', '{{ instance.price_incl }}');"
                                    class="btn btn-default material-icons"
                                    data-bs-toggle="modal"
                                    data-bs-target="#edit_inventory">create</button>
                            <button class="btn btn-default material-icons"
                                    type="submit"
                                    onclick="return confirm('Are you sure you want delete this transaction?')"
                                    name="delete inventory{{ instance.id|unlocalize }}">delete_forever</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
        {# Create Inventory MODAL #}
        <div id="create_inventory" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create New Inventory Item</h4>
                        <button type="button"
                                class="btn btn-lg"
                                aria-label="Close"
                                data-bs-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method='POST'>
                            {% csrf_token %}
                            <table class="table" style="max-width:100%;">
                                <tr>
                                    <th colspan="2">{{ title }}</th>
                                </tr>
                                {% for field in form %}
                                    <tr>
                                        <td>{{ field.label }}</td>
                                        <td>{{ field }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th colspan="2">
                                        <input class="btn btn-primary"
                                               type='submit'
                                               value='Create Inventory Item'
                                               style="font:bold"
                                               name="create inventory" />
                                    </th>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {# Create Inventory MODAL #}
        {# Create Inventory Transaction MODAL #}
        <div id="create_transaction" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create New Inventory Transaction</h4>
                        <button type="button"
                                class="btn btn-lg"
                                aria-label="Close"
                                data-bs-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method='POST' onsubmit="validate();">
                            {% csrf_token %}
                            <table class="table" style="max-width:100%;">
                                <thead>
                                    <tr>
                                        <th colspan="2">{{ title }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Date</td>
                                        <td>{{ form_movement.date }}</td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td id="input_type">
                                            <select oninput="warehouse_update();" class="form-control" id={{ form_movement.type }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Inventory</td>
                                            <td>{{ form_movement.inventory }}</td>
                                        </tr>
                                        <tr>
                                            <td>Warehouse</td>
                                            <td id="input_from_warehouse">{{ form_movement.warehouse }}</td>
                                        </tr>
                                        <tr>
                                            <td>Qty</td>
                                            <td>{{ form_movement.qty }}</td>
                                        </tr>
                                        <tr id="tr_to_warehouse" hidden>
                                            <td>To Warehouse</td>
                                            <td id="input_to_warehouse">{{ form_movement.to_warehouse }}</td>
                                        </tr>
                                    </tbody>
                                    <tr>
                                        <th colspan="2">
                                            <input class="btn btn-primary"
                                                   type='submit'
                                                   value='Create Inventory Item'
                                                   style="font:bold"
                                                   name="create transaction" />
                                        </th>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {# Create Inventory Transaction MODAL #}
            {# Edit Inventory MODAL per instance #}
            <div id="edit_inventory" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Inventory Item:</h4>
                            <button type="button"
                                    class="btn btn-lg"
                                    aria-label="Close"
                                    data-bs-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form method='POST'>
                                {% csrf_token %}
                                <table class="table" style="max-width:100%;">
                                    <thead>
                                        <tr>
                                            <th colspan="2">{{ instance.description }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Date</td>
                                            <td name="input_Date">{{ form_tx.date }}</td>
                                        </tr>
                                        <tr>
                                            <td>Type</td>
                                            <td name="input_Type">{{ form_tx.type }}</td>
                                        </tr>
                                        <tr>
                                            <td>Inventory</td>
                                            <td name="input_Inventory">{{ form_tx.inventory }}</td>
                                        </tr>
                                        <tr>
                                            <td>Warehouse</td>
                                            <td name="input_Warehouse">{{ form_tx.warehouse }}</td>
                                        </tr>
                                        <tr>
                                            <td>Qty</td>
                                            <td name="input_Qty">
                                                <input class="form-control" step="1" id={{ form_tx.qty }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Price Excl</td>
                                                <td name="input_Price_Excl">{{ form_tx.price_excl }}</td>
                                            </tr>
                                            <tr>
                                                <td>Price Incl</td>
                                                <td name="input_Price_Incl">{{ form_tx.price_incl }}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2">
                                                    <input id="input_inventory"
                                                           class="btn btn-primary"
                                                           type='submit'
                                                           value='Update Transaction'
                                                           style="font:bold"
                                                           name="edit inventory-xx" />
                                                </th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {# Edit Inventory MODAL per instance #}
                <script>
    function populate(id, date, type, inv, warehouse, qty, price_excl, price_incl) {
        var input_btn = '';

        var input_btn = document.getElementById('input_inventory');

        var input_Date = document.getElementsByName('input_Date');
        var input_Type = document.getElementsByName('input_Type');
        var input_Inventory = document.getElementsByName('input_Inventory');
        var input_Warehouse = document.getElementsByName('input_Warehouse');
        var input_Qty = document.getElementsByName('input_Qty');
        var input_Price_Excl = document.getElementsByName('input_Price_Excl');
        var input_Price_Incl = document.getElementsByName('input_Price_Incl');


        input_btn.name = 'edit inventory'+id
        input_Date[0].childNodes[0].value = date;
        input_Qty[0].childNodes[0].value = qty;
        input_Price_Excl[0].childNodes[0].value = price_excl;
        input_Price_Incl[0].childNodes[0].value = price_incl;

        for (var i = 0; i < input_Type[0].childNodes[0].length; i++){
            var option = input_Type[0].childNodes[0].options[i];
            if (option.text == type) {
                input_Type[0].childNodes[0].selectedIndex = i;
            }
        }

        for (var i = 0; i < input_Inventory[0].childNodes[0].length; i++){
            var option = input_Inventory[0].childNodes[0].options[i];
            if (option.text == inv) {
                input_Inventory[0].childNodes[0].selectedIndex = i;
            }
        }

        for (var i = 0; i < input_Warehouse[0].childNodes[0].length; i++){
            var option = input_Warehouse[0].childNodes[0].options[i];
            if (option.text == warehouse) {
                input_Warehouse[0].childNodes[0].selectedIndex = i;
            }
        }
    }


    function warehouse_update() {   
        const type = g_body.querySelector("#input_type").childNodes[0].selectedIndex;
        const tr_to_warhouse = g_body.querySelector("#tr_to_warehouse");

        const from_warhouse = g_body.querySelector("#input_from_warehouse").childNodes[0];
        const to_warhouse = g_body.querySelector("#input_to_warehouse").childNodes[0];


        if (type == 2) {
            tr_to_warhouse.hidden = false;
            for (var i = to_warhouse.length-1; i >= 0; i--) {
                to_warhouse.options[i] = null;
            }

            for (var i = 0; i < from_warhouse.length; i++) {
                var option = document.createElement("option");
                option.value = i;
                option.innerHTML = from_warhouse.options[i].text;
                to_warhouse.appendChild(option);
            }

        }
        else {
            tr_to_warhouse.hidden = true;
        }


    }
                </script>
            {% endblock %}
