{% extends "base.html" %}
{% load l10n %}
{% block content %}
    <div id="breadcrumb" class="no-print">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href={% url 'home' %}>Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
    </div>
    <div>
        <table class="table" style="max-width:66%;">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Order date</th>
                    <th>Supplier</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in queryset %}
                    <tr>
                        <td>
                            PO-{{ instance.id|stringformat:"05d" }}
                            <form method="post">
                                {% csrf_token %}
                                {% if instance.quote %}
                                    <a type="submit"
                                       class="btn btn-default material-icons"
                                       style="padding:0px"
                                       href="{% url 'inventories:order_quote_view' id=instance.id %}"
                                       target="_blank">search</a>
                                    <button type="button"
                                            onclick="getModal({{ instance.id|unlocalize }})"
                                            class="btn btn-default material-icons"
                                            data-bs-toggle="modal"
                                            data-bs-target="#file_form">create</button>
                                    <button onclick="return confirm('Are you sure you want to delete the quote?')"
                                            class="btn btn-default material-icons"
                                            type="submit"
                                            name="delete quote{{ instance.id|unlocalize }}">delete_forever</button>
                                {% else %}
                                    <button type="button"
                                            class="btn btn-default material-icons"
                                            onclick="getModal({{ instance.id|unlocalize }})"
                                            data-bs-toggle="modal"
                                            data-bs-target="#file_form">backup</button>
                                {% endif %}
                            </form>
                        </td>
                        <td>{{ instance.date|date:"Y/m/d" }}</td>
                        <td>{{ instance.supplier.description }}</td>
                        <td>{{ instance.status.description }}</td>
                        <td>R{{ instance.total|floatformat:2 }}</td>
                        <td>
                            <button class="btn btn-">
                                <a class="material-icons"
                                   href="{% url 'inventories:order_composition_view' order=instance.id %}">search</a>
                            </button>
                            {% if instance.status_id == 1 %}
                                <button class="btn btn-">
                                    <a class="material-icons"
                                       href="{% url 'inventories:order_update_view' order=instance.id %}">create</a>
                                </button>
                            {% elif instance.status_id == 2 or instance.status_id == 3 %}
                                <button class="btn btn-">
                                    <a class="material-icons"
                                       href="{% url 'inventories:order_receive_view' order=instance.id %}">add_shopping_cart</a>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {# Edit File MODAL #}
    <div id="file_form" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Supplier Invoice:</h4>
                    <button type="button"
                            class="btn btn-lg"
                            aria-label="Close"
                            data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method='POST' enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table" style="max-width:100%;">
                            <tr>
                                <th colspan="2">{{ instance.description }}</th>
                            </tr>
                            {% for field in form_file %}
                                <tr>
                                    <td>{{ field.label }}</td>
                                    <td>{{ field }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th colspan="2">
                                    <input id="form_quote"
                                           class="btn btn-primary"
                                           type='submit'
                                           value='Save File'
                                           style="font:bold"
                                           name="edit quote" />
                                </th>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {# Edit File MODAL #}
    <script>
    function getModal(id) {
        const form_input = document.querySelector("body #form_quote").name = "edit quote" + id;
    }
    </script>
{% endblock %}
