{% extends "base.html" %}
{% load l10n %}
{% block content %}
    <div id="breadcrumb" class="no-print">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href={% url 'home' %}>Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href={% url 'inventories:order_list_view' %}>All Orders</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>
    </div>
    <div>
        <form method='post' onsubmit="validate();">
            {% csrf_token %}
            <table id="order_table" class="table tabel-bordered w-100">
                <thead>
                    <tr>
                        <th colspan="7">{{ title }}</th>
                    </tr>
                    {% for field in form_order %}
                        <tr>
                            <td colspan="1">{{ field.label }}</td>
                            <td colspan="1">{{ field }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th>Inventory</th>
                        <th>VAT</th>
                        <th>Warehouse</th>
                        <th>Qty</th>
                        <th>Price Excl</th>
                        <th>Price Incl</th>
                        <th>Line Total</th>
                    </tr>
                    <tr class="no-print">
                        <td colspan="7">
                            <button class="btn btn-primary ps-2 pe-2" type="button" onclick="addRow()">Create row</button>
                            <button class="btn btn-danger ps-2 pe-2" type="button" onclick="delRow()">Delete row</button>
                            <button class="btn btn-danger ps-2 pe-2" type="button" onclick="findTotal()">Re-Calculate Totals</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {{ formset_addorderline.management_form }}
                    <tr>
                        <td>{{ formset_addorderline.0.inventory }}</td>
                        <td>{{ formset_addorderline.0.vat }}</td>
                        <td>{{ formset_addorderline.0.warehouse }}</td>
                        <td>{{ formset_addorderline.0.qty_ordered }}</td>
                        <td>{{ formset_addorderline.0.price_excl }}</td>
                        <td>{{ formset_addorderline.0.price_incl }}</td>
                        <td id="line total0">
                            <input class="form-control" disabled />
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr style="font-weight:bold;">
                        <td colspan="5"></td>
                        <td>Total Excl:</td>
                        <td id="total_excl">R</td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td>VAT:</td>
                        <td id="total_vat">R</td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td>Total Incl:</td>
                        <td id="total_incl">R</td>
                    </tr>
                </tfoot>
            </table>
            <input class="btn btn-primary"
                   type='submit'
                   value='Create Order'
                   style="font:bold"
                   name="create order" />
        </form>
    </div>
    <script>
        window.onload = findTotal(0);

        function addRow() {
            var table = document.getElementById('order_table');
            var tBodies = table.tBodies[0];
            var node = tBodies.rows[0].cloneNode(true);    //clone the previous node or row
            tBodies.appendChild(node);   //add the node or row to the table

            var num_rows = tBodies.rows.length;
            var row = tBodies.rows[num_rows - 1];
            row.cells[0].childNodes[0].value = '';
            row.cells[1].childNodes[0].value = 1;
            row.cells[2].childNodes[0].value = '';
            row.cells[3].childNodes[0].value = 1;
            row.cells[4].childNodes[0].value = 0;
            row.cells[5].childNodes[0].value = 0;
            row.cells[6].childNodes[0].value = 0;

            var num = num_rows - 1;
            row.cells[0].childNodes[0].name = 'form-' + num + '-inventory';
            row.cells[1].childNodes[0].name = 'form-' + num + '-vat';
            row.cells[2].childNodes[0].name = 'form-' + num + '-warehouse';
            row.cells[3].childNodes[0].name = 'form-' + num + '-qty_ordered';
            row.cells[4].childNodes[0].name = 'form-' + num + '-price_excl';
            row.cells[5].childNodes[0].name = 'form-' + num + '-price_incl';
            row.cells[6].childNodes[0].name = 'line total' + num;

            var total_forms = document.getElementById('id_form-TOTAL_FORMS');
            var initial_forms = document.getElementById('id_form-INITIAL_FORMS');
            total_forms.value = num_rows;
            initial_forms.value = num_rows;
        }

        function delRow() {
            var x = document.getElementById('order_table').tBodies[0];
            if (x.rows.length > 1) {
                x.deleteRow(-1); //delete the last row
            }
            var forms = document.getElementById('id_form-TOTAL_FORMS')
            var initial_forms = document.getElementById('id_form-INITIAL_FORMS');
            forms.value = x.rows.length;
            initial_forms.value = x.rows.length;
            findTotal(0);
        }

        function findTotal(x) {
            var table = document.getElementById('order_table');
            var tBodies = table.tBodies[0];
            var row;


            var tot_excl = 0;
            var tot_incl = 0;
            var line_total;

            var amount_excl = 0;
            var amount_incl = 0;

            var vat = 0;
            var qty = 0;

            for (i = 0; i < tBodies.rows.length; i++) {
                row = tBodies.rows[i];

                line_total;

                amount_excl = 0;
                amount_incl = 0;

                vat = 0;
                qty = 0;

                amount_excl = parseFloat(row.cells[4].childNodes[0].value);
                amount_incl = parseFloat(row.cells[5].childNodes[0].value);
                vat = parseFloat(row.cells[1].childNodes[0].value);
                qty = parseFloat(row.cells[3].childNodes[0].value);

                amount_excl = parseFloat(amount_excl.toFixed(3));
                amount_incl = parseFloat(amount_incl.toFixed(3));

                if (row.cells[3].childNodes[0].value == 0 || isNaN(row.cells[3].childNodes[0].value)) {
                    row.cells[3].childNodes[0].value = 1;
                }


                if (row.cells[3].childNodes[0].value == 0 || isNaN(row.cells[3].childNodes[0].value)) {
                    row.cells[3].childNodes[0].value = 1;
                }


                if (x == 0 && vat == 1) {
                    amount_incl = parseFloat((amount_excl * 1.15).toFixed(3));
                    
                }
                else if (x == 0 && vat != 1) {
                    amount_incl = parseFloat(amount_excl);
                }

                if (x == 1 && vat == 1) {
                    amount_incl = parseFloat(amount_excl * 1.15);
                }
                else if (x == 1 && vat != 1) {
                    amount_incl = parseFloat(amount_excl);
                }

                if (x == 2 && vat == 1) {
                    amount_excl = parseFloat((amount_incl / 1.15).toFixed(3));
                }
                else if (x == 2 && vat != 1) {
                    amount_excl = parseFloat(amount_incl);
                }


                if (!isNaN(amount_excl)) {
                    tot_excl += parseFloat((amount_excl * qty).toFixed(3));
                    row.cells[4].childNodes[0].value = amount_excl.toFixed(3);
                }
                else {
                    row.cells[4].childNodes[0].value = 0;
                    amount_excl = 0;
                }
                if (!isNaN(amount_incl)) {
                    tot_incl += parseFloat((amount_incl*qty).toFixed(3));
                    row.cells[5].childNodes[0].value = amount_incl.toFixed(3);
                }
                else {
                    row.cells[5].childNodes[0].value = 0;
                    amount_incl = 0;
                }

                line_total = amount_incl * qty;

                if (!isNaN(line_total) && amount_excl > 0 && amount_incl > 0) {
                    row.cells[6].childNodes[0].value = (line_total.toFixed(3)).replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
                }
                else {
                    row.cells[6].childNodes[0].value = '';
                }

            }

            if (!isNaN(tot_excl) &&!isNaN(tot_incl)) {

                document.getElementById('total_excl').innerHTML = 'R ' + (tot_excl.toFixed(2)).replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById('total_vat').innerHTML = 'R ' + ((tot_incl - tot_excl).toFixed(2)).replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
                document.getElementById('total_incl').innerHTML = 'R ' + (tot_incl.toFixed(2)).toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");

            }

        }

        function validate() {
            var table = document.getElementById('order_table');
            var tBodies = table.tBodies[0];
            var row;

            for (i = 0; i < tBodies.rows.length; i++) {
                row = tBodies.rows[i];
                i1 = row.cells[0].childNodes[0].value;
                i2 = row.cells[2].childNodes[0].value;
                i3 = row.cells[3].childNodes[0].value;
                i4 = row.cells[4].childNodes[0].value;
                i5 = row.cells[5].childNodes[0].value;


                if (!i1 > 0 && !i2 > 0 && !i3 >= 0 && !i4 >= 0 && !i5 >= 0) {
                    alert('aborting submit');
                    event.preventDefault()
                }
            }
        }
    </script>
{% endblock content %}
